.CategoriesBlock {
  display: flex;
  padding: 1rem;
  width: 768px;
  margin: 0 auto;
  @media screen and (max-width: 768px) {
    width: 100%;
    overflow-x: auto;
  }
}
a {
  text-decoration: none;
  color: inherit;
  &:hover {
    color: #495057;
  }
  & + & {
    margin-left: 1rem;
  }
}
.Category {
  font-size: 1.125rem;
  white-space: pre;
  padding-bottom: 0.25rem;
}

.selected {
  font-weight: 600;
  border-bottom: 2px solid #22b8cf;
  color: #22b8cf;
  &:hover {
    color: #3bc9db;
  }
}
