.NewsListBlock {
  padding-bottom: 3rem;
  width: 768px;
  margin: 0 auto;
  margin-top: 2rem;
  @media screen and (max-width: 768px) {
    width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
.loading {
  font-size: 4rem;
  display: flex;
  justify-content: center;
  height: 100vh;
  position: relative;
  top: 15rem;
  .icon {
    width: 1em;
    height: 1em;
    animation: spinner 1.5s linear infinite;
  }
}
@keyframes spinner {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
